<section class="section">
    <div class="container">
    <%- partial('common/article', { post: page, index: false }) %>
    </div>
    <!-- <% if (!page.permalink.includes('/about/')) { %>
        <div class="vertical-ad">
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9074862371923542"
                crossorigin="anonymous"></script> -->
            <!-- 直式廣告 -->
            <!-- <ins class="adsbygoogle"
                style="display:inline-block; width:100%; height:400px;"
                data-ad-client="ca-pub-9074862371923542"
                data-ad-slot="7146536898"
                data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    <% } %> -->

    <% if (!page.permalink.includes('/about/')) { %>
        <div class="vertical-ad">
            <a href="https://www.tenlong.com.tw/products/9786267569313?list_name=r-zh_tw" rel="noreferrer noopener"
                style="display: flex; flex-direction: column; align-items: center; padding: 1rem;">
                <img style="width: 100%; max-width: 200px; margin-bottom: 0.5rem;" src="/images/nuxt3/book.jpg" alt="Nuxt3 入門－打造 SSR 專案">
                <small style="text-align: center; color: darkcyan;">
                    <small style="background-color: darkcyan; color: white; padding: 1px 1rem; border-radius: 20px; display: inline-block; margin-bottom: 0.5rem;">新書上市</small><br>
                    Nuxt3 入門：打造 SSR 專案
                </small>
            </a>
        </div>
    <% } %>
</section>
